#fondo {
    background-color: rgb(18, 34, 50);
    width: 970px;
    height: 750px;
}

#rectangulo {
    background-color: rgb(184, 37, 37);
    width: 960px;
    height: 130px;
    color: dimgray;
    border-radius: 15px;
    position: fixed;
}

#aside {
    background-color: dodgerblue;
    color: white;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-right: 15px;
    border-radius: 15px;
}

#main {
    background-color: green;
    color: white;
    display: inline-block;
    width: 690px;
    height: 450px;
    margin-top: 80px;
    border-radius: 15px;
}