* {
    margin: 0px;
    padding: 0px;
}

#caja1 {
    background-color: rgb(229, 230, 231);
    width: 1000px;
    height: auto;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    margin-right: 500px;
    font-family: comic neue;
}

h3 {
    margin-left: 500px;
}

h1,
h3 {
    color: black;
    margin-left: 20px;
    display: inline-block;
    margin: inherit 10px;
}

h2 {
    color: whitesmoke;
    background: linear-gradient(rgb(138, 138, 138), rgb(51, 51, 51), rgb(138, 138, 138));
    padding-left: 12px;
    line-height: 200%;
    text-align: left;
    margin-top: 0;
}

.centrado {
    text-align: center;
}

.parrafos {
    min-height: 180px;
}

#caja2 {
    background: radial-gradient( rgb(143, 86, 143), rgb(47, 26, 49));
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.foto {
    width: 450px;
    height: auto;
    border-width: 3px;
    margin: 10px;
    border-style: solid;
    color: mintcream;
    display: inline-block;
}

#contenedor1er {
    align-content: top;
    width: 450px;
    height: 295px;
    margin: 10px;
    vertical-align: top;
}

#contenedor2do {
    display: inline-block;
    align-content: top;
    vertical-align: top;
}

.cajas {
    display: inline-block;
    width: 30%;
    height: auto;
    background: linear-gradient(to right, white, rgb(213, 189, 252));
    margin: 10px;
    padding: 0px;
    text-align: justify;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-left: 14px;
    padding-right: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.recorte {
    width: 100%;
    padding: none;
    margin: none;
}

.logos {
    width: 40px;
    margin: 5px;
    display: inline-block;
    padding: 0px;
}

.footer {
    display: center;
    text-align: center;
}

.button {
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #1d701f;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 5px;
    padding: 0px, 5px;
    border-radius: 10px;
}

.iconosFoot1 {
    width: 20px;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 0px;
    border-radius: 20px;
}

.iconosFoot {
    width: 20px;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 0px;
}